<robot name="shelf_model">
  <link name="shelf">
    <inertial>
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://models_pkg/models/shelf1/shelf.dae" scale="1.5 1.5 1"/>
      </geometry>	
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://models_pkg/models/shelf1/shelf.dae" scale="1.5 1.5 1"/>
      </geometry>
    </collision>
  </link>
  
</robot>
