<launch>
  <!-- table -->
  <param name="table_description" command="$(find xacro)/xacro.py $(find gazebo_worlds)/objects/table.urdf.xacro"/>
  <node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_description -x 0.1 -y 0 -z 0 -model table_model" respawn="false" output="screen"/>
  
  <!-- coffee cup -->
  <!-- <param name="coffee_cup" textfile="$(find gazebo_worlds)/objects/coffee_cup.model"/> -->
  <!-- <node name="spawn_coffee_cup" pkg="gazebo" type="spawn_model" args="-gazebo -param coffee_cup -x 0.65 -y 0 -z 0.57 -model coffee_cup" respawn="false" output="screen"/> -->

  <!-- coke can -->
  <!-- <param name="coke_can" textfile="$(find gazebo_worlds)/objects/coke_can.urdf"/> -->
  <!-- <node name="spawn_coke_can" pkg="gazebo" type="spawn_model" args="-urdf -param coffee_cup -x 0.65 -y 0 -z 0.57 -model coke_can_model" respawn="false" output="screen"/> -->

  <!-- bowl -->
  <!-- <param name="bowl" textfile="$(find simul_pr2)/models/bowl.model"/>
  <node name="spawn_bowl" pkg="gazebo" type="spawn_model" args="-gazebo -param bowl -x 0.65 -y 0 -z 1.00 -model bowl" respawn="false" output="screen"/> -->
  
  <!-- mug -->
  <param name="mug" textfile="$(find simul_pr2)/models/mug.urdf"/>
  <node name="spawn_mug" pkg="gazebo" type="spawn_model" args="-urdf -param mug -x 0.65 -y 0 -z 2.00 -R 0.0 -P 0.0 -Y -135.0 -model mug" respawn="false" output="screen"/>
</launch>