<launch>
  <!-- load active components (controllers, ...) -->
  <include file="$(find pr2_nav_pcontroller)/nav_pcontroller.launch"/>
  <include file="$(find pr2_manipulation_process_module)/launch/pr2_manipulation.launch"/>

  <!-- load an empty world and spawn the PR2 -->
  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch"/>

  <!-- prepare the scene for experiments (spawn objects mainly) -->
  <include file="$(find simul_pr2)/launch/prepare_gazebo.launch"/>
  
  <!-- necessary nodes -->
  <node name="map_to_odom_publisher" type="static_transform_publisher" pkg="tf" args="0 0 0 0 0 0 map odom_combined 100"/>

  <!-- running json prolog (knowrob) -->
  <node name="json_prolog" type="json_prolog" pkg="json_prolog" />

  <!-- running knowrob mesh reasoning (-> handle detection) -->
  <node name="knowrob_mesh_reasoning" pkg="rosprolog" type="run_with_prolog_env" args="knowrob_mesh_reasoning $(find json_prolog)/bin/json_prolog" />
</launch>
