<robot name="shelf_model">
  <link name="shelf">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="100.0" />
      <inertia  ixx="100.0" ixy="0.0"  ixz="0.0"  iyy="100.0"  iyz="0.0"  izz="100.0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" /> 
      <geometry>
        <mesh filename="package://models_pkg/models/shelf/shelf.dae" scale="0.8 0.8 0.8"/>
      </geometry>	
    </visual>
    <collision>
      <origin xyz="0 0 0" /> 
      <geometry>
        <mesh filename="package://models_pkg/models/shelf/shelf.dae" scale="0.8 0.8 0.8"/>
      </geometry>
    </collision>
  </link>
  
</robot>
