<robot name="newspaper_model">
  <link name="newspaper">
    <inertial>
      <mass value="0.1" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="10.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://models_pkg/models/living_room/newspaper.dae" scale="1 1 1"/>
      </geometry>	
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://models_pkg/models/living_room/newspaper.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
</robot>
